// Banner Frosted Glass
@keyframes blur {
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
}

// Text Glitch Text Shadow Effect
@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb2c77,
            0 0 0 #fefc4b;
  }
  20% {
    transform: translateY(-.7em);
    text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb2c77,
            0 -0.25em 0 #fefc4b;
  }
  40% {
    transform: translateY(0.5em);
    text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb2c77,
            0 0.125em 0 #fefc4b;
  }
  60% {
    transform: translateY(-0.25em);
    text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb2c77,
            0 -0.0625em 0 #fefc4b;
  }
  80% {
    transform: translateY(0);
    text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb2c77,
            0 0 0 #fefc4b;
  }
}

