// Color Palette
:root {
  --orange: #f97223;
  --purpleOrange: #ff9162;
  --alphaPurpleOrange: rgba(255,145,98,.5);
  --lightOrange: #ff9765;
  --darkBrown: #321b11;
  --darkBlue: #235c6f;
  --alphaDarkBlue: rgba(255, 255, 255, 0.7);
  --darkestBlue: #0c3f4d;
  --warmGray: #fdf8f3;
  --lightGray: #ecebe7;
}

*, *:after, :before {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

html, body {
  font-family: 'Noto-Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  font-size: 16px;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: normal;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

code {
  word-wrap: break-word
}

select {
  border: 1px solid #d5d5d5;
  color: #898989;
  background-color: #fff !important;
  box-shadow: none !important;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
textarea,
select {
  color: #333;
  font-family: 'Noto-Sans', sans-serif;
  padding: .4em .4em .35em .7em;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

textarea {
  -webkit-appearance: none;
  border: none;
}

a {
  color: #2971a3;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}