// Buttons Collection
.btn {
  font-size: 18px;
  letter-spacing: .2px;
  line-height: .86;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,.15);
  overflow: hidden;
  transition: all .3s ease;
  &:not(.btn--rounded) {
    border-radius: 3px;
  }
  &--rounded {
    border-radius: 12px;
  }
  &--xs {
    padding: 23px 30px;
  }
  &--default {
    padding: 25px 50px;
  }
  &--xl {
    padding: 32px 65px;
  }
  &--orange {
    background-color: var(--orange);
  }
  &--purpleOrange {
    background-color: var(--purpleOrange);
  }
  &--darkBlue {
    background-color: var(--darkBlue);
  }
  &--darkestBlue {
    background-color: var(--darkestBlue);
  }
  &--darkBrown {
    background-color: var(--darkBrown);
  }
  &--lightGray {
    background-color: var(--lightGray);
    color: var(--darkBrown);
    border: 1px solid ;
  }
}

// Reusable Input
.custom-input {
  min-height: 63px;
  color: var(--darkBlue) !important;
  border: none !important;
  -webkit-appearance: none;
  border-radius: 0 !important;
  &--half {
    width: 50%;
  }
}

// Side Titles
.side {
  &__half {
    &--right {
      margin-left: auto;
    }
  }
  &__title {
    margin-bottom: 45px;
    overflow: hidden;
    &--left {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &--right {
      margin-left: auto;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

// Feature Section With Inner Boxes
.features {
  &__btn-group {
    margin-top: 48px;
  }
}
.feature-box {
  padding: 32px 25px 48px;
  width: calc((100% - 72px) / 4);
  &__icon {
    img {
      max-width: 36px;
    }
  }
  &__name {
    margin: 27px 0 25px;
  }
}

