.noto {
  &-italic {
    font-family: 'Noto-Sans-Italic', sans-serif;
  }
  &-bold {
    font-family: 'Noto-Sans-Bold', sans-serif;
  }
  &-bold--italic {
    font-family: 'Noto-Sans-BoldItalic', sans-serif;
  }
}

.text-black {
  color: #000;
}

.text-darkBrown {
  color: #321b11 !important;
}

.text-darkGray {
   color: #424242;
 }

.tt-up {
  text-transform: uppercase;
}

.l-h-1 {
  line-height: 1;
}

.nowrap {
  white-space: nowrap;
}