// Banner
.banner {
  min-height: calc(100vh - 80px);
  padding-top: 56.25%;
  background: url(../img/banner-1__bg.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  &__blend-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("../img/blend-text__bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top right;
  }
  &__glassy {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      width: 110%;
      height: 110%;
      background: inherit;
      box-shadow: inset 0 0 0 5000px rgba(253, 247, 255, 0.54);
      -webkit-filter: blur(2px);
      filter: blur(2px);
      will-change: filter;
      animation: blur 4s cubic-bezier(.15,.1,.24,.6) infinite alternate-reverse forwards;
    }
  }
}

// Intro Box Inner Text Content
.intro {
  &__row {
    &--odd {
      margin-bottom: 120px;
    }
  }
  &__text {
    &-list {
      &__item {
        & + & {
          margin-top: 18px;
        }
      }
    }
  }
  &__image {
    margin-bottom: 45px;
  }
}

// Stuff
.stuff {
  &__img {
    &__layer {
      &--lightCyan {
        right: 55%;
        bottom: -1.5%;
        width: calc((98%) - 15px);
        height: 110%;
        background-color: rgba(91, 172, 183, 0.48);
      }
      &--purpleOrange {
        left: 5%;
        top: 35%;
        width: calc((98%) - 15px);
        height: 110%;
        background-color: rgba(243, 140, 90, 0.48);
      }
    }
  }
  &__content {
    &__title {
      margin-bottom: 52px;
    }
    &--desc {
      .stuff--desc__item + .stuff--desc__item {
          margin-top: 18px;
      }
    }
  }
}

// Contact
.contact {
  background-image: url(../img/contact-cover.jpg);
  background-size: cover;
  background-position: 100% 100%;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 63, 77, 0.5);
  }
  &__form {
    > * {
      &:not(.btn) {
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 24px;
      }
    }
    textarea {
      resize: none;
      border-radius: 0;
    }
  }
}

// Footer
.copyright {
  padding: 30px 0;
  &__text {
    line-height: 29px;
  }
}