@media (max-width: 575px) {
  .banner {
    &__content {
      transform: translateY(-30%);
    }
    &__btn-group {
      .btn {
        & + .btn {
          margin-top: 17px;
        }
      }
    }
  }
  .intro {
    &__image {
      &--mobile-left {
        position: relative;
        right: 40px;
      }
    }
  }
  .side {
    &__title {
      &--left {
        padding-left: calc(((100%) - (85.715%)) / 2);
      }
      &--right {
        padding-left: 13px;
      }
    }
  }
  .subscribe {
    &__form {
      .custom-input {
        width: 100%;
        margin-bottom: 48px;
      }
    }
  }
  .contact {
    background-position: 10% 100%;
  }
}

@media (min-width: 576px) {
  .banner {
    &__btn-group {
      .btn {
        & + .btn {
          margin-left: 60px;
        }
      }
    }
  }
  .intro {
    &__image-list {
      &__item {
        flex-basis: calc((50%) - 10px);
        max-width: calc((50%) - 10px);
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
  .subscribe {
    &__form {
      .custom-input {
        margin-right: 24px;
      }
    }
  }
  .custom-input {
    &--half {
      flex-basis: calc((50%) - 12px);
      max-width: calc((50%) - 12px);
      &:nth-child(odd) {
        margin-right: 24px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner {
    &__content {
      transform: translateY(-50%);
    }
  }
  .side {
    &__title {
      &--left {
        padding-left: calc(((100%) - (85.715%)) / 2);
      }
      &--right {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-wrapper {
    max-width: calc(((100%) - 60px));
  }
  .fz-96 {
    font-size: 40px;
  }
  .fz-36 {
    font-size: 32px;
  }
  .fz-24 {
    font-size: 22px;
  }
  .fz-22 {
    font-size: 18px;
  }
  .fz-20 {
    font-size: 20px;
  }
  .fz-18 {
    font-size: 16px;
  }
  .scrollme, .animateme {
    transform: none !important;
  }
  main {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: calc((100%) - 70px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    .nav-logo-icon {
      width: 87.5%;
      max-width: calc(((100%) - 60px));
      margin: 0 auto;
    }
    .navbar-nav {
      align-items: center;
      justify-content: center;
      min-height: calc((100vh) - 60px);
    }
    .navbar-collapse {
      padding: 0 calc(((100%) - (87.5%)) / 2);
      max-height: calc((100vh) - 70px);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior: contain contain;
      &::-webkit-scrollbar {
        display: none;
      }
      &.collapsing {
        transition: height 400ms;
      }
    }
    .nav-item {
      & + .nav-item {
        margin-top: 20px;
      }
      &:not(.active) {
        &:after {
          background-color: #b2bac3;
        }
      }
    }
    .navbar-brand {
      max-width: 189px;
    }
  }
  .banner {
    background-position: 55%;
    &__desc {
      margin: 30px 0 40px;
    }
  }
  .intro {
    padding: 90px 0;
    &__image-list {
      &__item {
        margin-top: 30px;
      }
    }
  }
  .side {
    &__title {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    &__half {
      width: calc((100%) - 40px);
    }
  }
  .features {
    padding: 90px 0 80px;
  }
  .features {
    padding: 95px 0 85px;
    &__title {
      margin-bottom: 53px;
    }
  }
  .feature-box {
    flex-basis: 100%;
    max-width: 100%;
    & + & {
      margin-top: 24px;
    }
  }
  .subscribe {
    padding: 95px 0 85px;
    &__title {
      margin-bottom: 53px;
    }
  }
  .stuff {
    padding: 98px 0 90px;
    &__img {
      &__layer {
        &--lightCyan {
          right: 32%;
          width: 80%;
        }
        &--purpleOrange {
          width: 100%;
          top: 25%;
          height: 90%;
        }
      }
    }
    &-content {
      margin-top: 30%;
    }
  }
  .contact {
    padding: 95px 0 85px;
    &__title {
      margin-bottom: 53px;
    }
  }
}

@media (min-width: 768px) {
  main {
    padding-top: 80px !important;
  }
  .main-navbar {
    padding: 8px 0 !important;
    min-height: 80px;
    .nav-item {
      & + .nav-item {
        margin-left: 20px;
      }
    }
    .nav-logo-icon {
      padding-right: 10px;
      margin-right: 10px;
    }
  }
  .fz-96 {
    font-size: 96px;
  }
  .fz-36 {
    font-size: 36px;
  }
  .fz-24 {
    font-size: 24px;
  }
  .fz-22 {
    font-size: 22px;
  }
  .fz-20 {
    font-size: 20px;
  }
  .fz-18 {
    font-size: 18px;
  }
  .banner {
    &__desc {
      max-width: 682px;
      margin: 60px auto 75px;
    }
  }
  .intro {
    padding: 130px 0 120px;
  }
  .side {
    &__title {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      &--right {
        padding-left: 30px;
      }
    }
  }
  .features {
    padding: 100px 0 90px;
    &__title {
      margin-bottom: 59px;
    }
  }
  .subscribe {
    padding: 100px 0 90px;
    &__title {
      margin-bottom: 59px;
    }
    &__form {
      .custom-input {
        max-width: 516px;
      }
    }
  }
  .contact {
    padding: 100px 0 90px;
    &__title {
      margin-bottom: 59px;
    }
    &__form {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  .stuff {
    padding: 128px 0 100px;
    &__img {
      flex-basis: 50%;
      max-width: 50%;
    }
    &-content {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-navbar {
    .navbar-nav {
      flex: 1;
      margin-left: auto;
    }
    .nav-link {
      font-size: 16px;
    }
    .navbar-brand {
      max-width: 160px;
    }
  }
  .side {
    &__half {
      &--left {
        padding-right: calc(((100%) - (89%)) / 2);
      }
      &--right {
        padding-left: calc(((100%) - (89%)) / 2);
      }
    }
  }
  .intro {
    &__image-list {
       margin-top: 40px;
    }
  }
  .stuff {
    &-content {
      padding-left: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .banner {
    background-position: 65%;
    &__title {
      font-size: 80px;
    }
  }
  .feature-box {
    flex-basis: calc((50%) - 12px);
    max-width: calc((50%) - 12px);
    &:nth-child(odd) {
      margin-right: 24px;
    }
    &:nth-child(n + 3) {
      margin-top: 24px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .banner {
    &__content {
      transform: translateY(50%);
      margin-top: -50%;
    }
  }
  .side {
    &__title {
      &--left {
        padding-left: calc(((100%) - (85.715%)) / 2);
      }
    }
  }
  .stuff {
    &__img {
      &__layer {
        &--lightCyan {
          left: -17%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-nav {
      flex: 1;
      margin-left: auto;
    }
  .navbar-brand {
      max-width: 244px;
    }
  .side {
    &__half {
      flex-basis: calc((50%) - 20px);
      max-width: calc((50%) - 20px);
    }
  }
  .intro {
    &__text {
      &-content {
        flex-basis: calc((50%) - 20px);
        max-width: calc((50%) - 20px);
      }
      &--left {
        margin-right: 40px;
      }
      &--right {
        padding-left: 30px;
        margin-left: 40px;
      }
    }
    &__image {
      flex-basis: calc((50%) - 20px);
      max-width: calc((50%) - 20px);
    }
  }
  .stuff {
    padding: 128px 0 180px;
    &-content {
      padding-left: 48px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-navbar {
    .navbar-nav {
      max-width: 70%;
    }
  }
}

@media (min-width: 1200px) {
  .feature-box {
    flex-basis: calc(((100%) - 72px) / 4);
    max-width: calc(((100%) - 72px) / 4);
    & + & {
      margin-left: 24px;
    }
  }
  .contact {
    background-position: 50% 35%;
  }
}

@media (min-width: 992px) and (max-width: 1439px) {
  .side {
    &__title {
      &--left {
        padding-left: calc(((100%) - (85.715%)) + 1px);
      }
    }
  }
}

@media (min-width: 1440px) {
  .main-wrapper {
    max-width: 66.6%;
  }
  .banner {
    &__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .side {
    &__title {
      &--left {
        padding-left: calc(((100%) - (66.6%)) + 6px);
      }
      &--right {
        padding-right: calc(((100%) - (66.6%)) + 6px);
      }
    }
  }
  .contact {
    background-position: 50% 20%;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .stuff {
    &__img {
      &__layer {
        &--lightCyan {
          height: 100%;
          bottom: 4%;
        }
        &--purpleOrange {
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .contact {
    background-position: 50% 15%;
  }
  .stuff {
    &__img {
      &__layer {
        &--lightCyan {
          height: 100%;
          bottom: 3%
        }
        &--purpleOrange {
          top: 15%;
          height: 100%;
        }
      }
    }
  }
}

// Removing glass effect for touch devices
@media (any-pointer: coarse) {
  @supports (-webkit-overflow-scrolling: touch) {
    .banner {
      background-attachment: local;
    }
  }
}

// Detect touch device
@media (hover: hover) {
  .btn {
    &--orange {
      &:hover {
        background-color: #ff8c49;
      }
    }
    &--purpleOrange {
      &:hover {
        background-color: #fea27b;
      }
    }
    &--darkblue {
      &:hover {
        background-color: #2a6d83;
      }
    }
    &--darkestBlue {
      &:hover {
        background-color: #164d5d;
      }
    }
    &--darkBrown {
      &:hover {
        background-color: #653c2b;
      }
    }
    &--lightGray {
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
  .main-navbar {
    .nav-link {
      &:not(.active) {
        &:hover {
            color: #7d7979 !important;
        }
      }
    }
  }
  //.main-navbar {
  //  .nav-item {
  //    &:hover {
  //      animation: text-shadow 1.5s ease-in-out;
  //    }
  //  }
  //}
}