// Menu
.main-navbar {
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
  .navbar-brand {
    padding: 0;
  }
  .navbar-toggler {
    padding: 0;
    font-size: 0;
    outline: none !important;
    border-radius: 0 !important;
    &[aria-expanded="true"] {
      .hamburger {
        transform: rotate(45deg);
        .top {
          stroke-dasharray: 17 82;
          stroke-dashoffset: -62px;
        }
        .middle {
          stroke-dashoffset: 23px;
        }
        .bottom {
          stroke-dashoffset: -83px;
        }
      }
    }
  }
  .navbar-toggler-icon {
    display: block;
    width: 50px;
    height: 50px;
    background-image: none;
  }
  .nav-link {
    letter-spacing: 2.7px;
    padding: 0;
    transition: all .25s ease;
    &:not(.active) {
     color: #ffffff;
    }
    &.active {
      color: #5f5f5f !important;
    }
  }
  .hamburger {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #ffffff;
      stroke-width: 5.5px;
      stroke-linecap: round;
    }
    .top {
      stroke-dasharray: 40 82;
    }
    .middle {
      stroke-dasharray: 40 111;
    }
    .bottom {
      stroke-dasharray: 40 161;
    }
  }
}

