// Website main content holder
.main-wrapper {
  width: 85.715%;
  margin: 0 auto;
}

// Reusable Backgrounds
.bg-black {
  background-color: #000000;
}

.bg-lightOrange {
  background-color: var(--lightOrange);
}

.bg-purpleOrange {
  background-color: var(--purpleOrange);
}

.bg-alphaPurpleOrange {
  background-color: var(--alphaPurpleOrange);
}

.bg-warmGray {
  background-color: var(--warmGray);
}

.bg-lightGray {
  background-color: var(--lightGray);
}

.bg-darkBlue {
  background-color: var(--darkBlue);
}

.bg-alphaDarkBlue {
  background-color: var(--alphaDarkBlue) !important;
}

.bg-darkestBlue {
  background-color: var(--darkestBlue);
}
///////

.border-none {
  border: none!important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-1 {
  z-index: 1;
}

.ov-h {
  overflow: hidden;
}

.pd-0 {
  padding: 0 !important;
}

.max-w-100 {
  max-width: 100%;
}