<div class="banner relative">
    <div class="banner__content text-center relative z-1 w-100">
        <div class="main-wrapper">
            <div class="banner__title banner__blend-text noto-bold fz-96">
                Simple Landing
            </div>
            <p class="banner__desc fz-22">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dignissimos eaque eum fugiat.
            </p>
            <div class="banner__btn-group d-flex flex-column flex-sm-row justify-content-center align-items-center">
                <a href="#" class="btn btn--xs btn--darkBrown text-white tt-up">learn more</a>
                <a href="#" class="btn btn--xs btn--lightGray text-darkBrown tt-up">learn more</a>
            </div>
        </div>
    </div>
    <div class="banner__glassy"></div>
</div>