<section class="contact relative" id="contact">
    <div class="main-wrapper relative z-1">
        <h2 class="contact__title fz-36 text-center noto-bold text-black text-white tt-up">contact us</h2>
        <form class="contact__form d-flex justify-content-center flex-wrap scrollme animateme"
              data-from="1" data-to="0" data-opacity="0" data-translatey="250">
            <input type="text" placeholder="Your Name" class="custom-input custom-input--half w-100">
            <input type="email" placeholder="Your Email" class="custom-input custom-input--half w-100">
            <input type="text" placeholder="Subject" class="custom-input w-100">
            <textarea name="" id="" cols="30" rows="6" placeholder="Your Message..." class="w-100"></textarea>
            <input type="submit" class="btn btn--xl btn--rounded btn--darkestBlue noto-bold text-white tt-up scrollme animateme" value="send message">
        </form>
    </div>
</section>
