<section class="features bg-lightGray" id="features">
    <div class="main-wrapper">
        <h2 class="features__title fz-36 noto-bold text-black text-center tt-up">our features</h2>
        <div class="features__row d-flex flex-wrap">
            <div class="feature-box d-flex flex-column justify-content-center align-items-center bg-white text-center">
                <div class="feature-box__icon">
                    <img src="../img/approval.png" alt="">
                </div>
                <h4 class="feature-box__name noto-bold text-black fz-22 tt-up">
                    feature one
                </h4>
                <p class="feature-box__desc text-black fz-16">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto cum cupiditate debitis
                    dicta dolor dolorem ea error facilis, iusto necessitatibus nobis porro quas quasi quod rem soluta
                    tenetur ullam?
                </p>
            </div>
            <div class="feature-box d-flex flex-column justify-content-center align-items-center bg-white text-center">
                <div class="feature-box__icon">
                    <img src="../img/appointment.png" alt="">
                </div>
                <h4 class="feature-box__name noto-bold text-black fz-22 tt-up">
                    feature two
                </h4>
                <p class="feature-box__desc text-black fz-16">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto cum cupiditate debitis
                    dicta dolor dolorem ea error facilis, iusto necessitatibus nobis porro quas quasi quod rem soluta
                    tenetur ullam?
                </p>
            </div>
            <div class="feature-box d-flex flex-column justify-content-center align-items-center bg-white text-center">
                <div class="feature-box__icon">
                    <img src="../img/certificate.png" alt="">
                </div>
                <h4 class="feature-box__name noto-bold text-black fz-22 tt-up">
                    feature three
                </h4>
                <p class="feature-box__desc text-black fz-16">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto cum cupiditate debitis
                    dicta dolor dolorem ea error facilis, iusto necessitatibus nobis porro quas quasi quod rem soluta
                    tenetur ullam?
                </p>
            </div>
            <div class="feature-box d-flex flex-column justify-content-center align-items-center bg-white text-center">
                <div class="feature-box__icon">
                    <img src="../img/rating.png" alt="">
                </div>
                <h4 class="feature-box__name noto-bold text-black fz-22 tt-up">
                    feature four
                </h4>
                <p class="feature-box__desc text-black fz-16">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto cum cupiditate debitis
                    dicta dolor dolorem ea error facilis, iusto necessitatibus nobis porro quas quasi quod rem soluta
                    tenetur ullam?
                </p>
            </div>
        </div>
        <div class="features__btn-group d-flex justify-content-center">
            <a href="#" class="btn btn--xl btn--rounded btn--darkestBlue noto-bold text-white tt-up scrollme animateme"
               data-from="1" data-to="0" data-opacity="0" data-translatey="150">see more</a>
        </div>
    </div>
</section>