<footer class="copyright bg-darkestBlue">
    <div class="main-wrapper text-center">
        <p class="copyright__text text-white fz-18">&copy; Copyright</p>
        <p class="copyright__text text-white fz-18">All Rights Reserved</p>
    </div>
</footer>