<section class="intro ov-h bg-warmGray">
    <div class="side__half side__half--left scrollme animateme" id="introWork" data-when="enter"
         data-from="1"
         data-to="0"
         data-opacity="0"
         data-translatex="-1250">
        <div class="side__title side__title--left bg-alphaPurpleOrange">
            <h4 class="fz-24 tt-up text-black">how does it work?</h4>
        </div>
    </div>
    <div class="intro__row intro__row--odd d-lg-flex align-items-lg-start main-wrapper">
        <article class="intro__text-content intro__text--left">
            <ul class="intro__text-list scrollme animateme" data-when="enter" data-from="1" data-to="0"
                data-crop="false"
                data-opacity="0" data-translatex="-250">
                <li class="intro__text-list__item fz-18 text-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci aliquam excepturi fugiat,
                    impedit ipsam minima nobis nulla praesentium quae sed sequi, voluptates! Corporis dolor eligendi est
                    minus officia.
                </li>
                <li class="intro__text-list__item fz-18 text-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci aliquam excepturi fugiat,
                    impedit ipsam minima nobis nulla praesentium quae sed sequi, voluptates! Corporis dolor eligendi est
                    minus officia.
                </li>
                <li class="intro__text-list__item fz-18 text-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci aliquam excepturi fugiat,
                    impedit ipsam minima nobis nulla praesentium quae sed sequi, voluptates! Corporis dolor eligendi est
                    minus officia.
                </li>
            </ul>
        </article>
        <ul class="intro__image intro__image-list d-sm-flex">
            <li class="intro__image-list__item">
                <figure class="scrollme animateme" data-when="view" data-from="0.6" data-to="0.1" data-opacity="0"
                        data-translatey="150">
                    <img src="../img/laptop-behind.jpg" alt="">
                </figure>
            </li>
            <li class="intro__image-list__item">
                <figure class="scrollme animateme" data-when="view" data-from="0.65" data-to="0.15" data-opacity="0"
                        data-translatex="150">
                    <img src="../img/laptop.jpg" alt="">
                </figure>
            </li>
        </ul>
    </div>
    <div class="side__half side__half--right scrollme animateme" id="introStuff" data-when="enter"
         data-from="1"
         data-to="0"
         data-opacity="0"
         data-translatex="1250">
        <div class="side__title side__title--right bg-alphaPurpleOrange">
            <h4 class="fz-24 tt-up text-black">important stuff here</h4>
        </div>
    </div>
    <div class="intro__row d-lg-flex align-items-lg-start main-wrapper">
        <figure class="intro__image intro__image--mobile-left scrollme animateme"
                data-from="1"
                data-to="0"
                data-opacity="0"
                data-translatex="-400" data-translatey="100">
            <img src="../img/phone-cover.jpg" alt="">
        </figure>
        <div class="intro__text-content intro__text--right">
            <article>
                <ul class="intro__text-list scrollme animateme" data-when="enter" data-from="1" data-to="0"
                    data-crop="false"
                    data-opacity="0" data-translatex="250" data-translatey="200">
                    <li class="intro__text-list__item fz-18 text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci aliquam excepturi
                        fugiat,
                        impedit ipsam minima nobis nulla praesentium quae sed sequi, voluptates! Corporis dolor eligendi
                        est
                        minus officia.
                    </li>
                    <li class="intro__text-list__item fz-18 text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci aliquam excepturi
                        fugiat,
                        impedit ipsam minima nobis nulla praesentium quae sed sequi, voluptates! Corporis dolor eligendi
                        est
                        minus officia.
                    </li>
                    <li class="intro__text-list__item fz-18 text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci aliquam excepturi
                        fugiat,
                        impedit ipsam minima nobis nulla praesentium quae sed sequi, voluptates! Corporis dolor eligendi
                        est
                        minus officia.
                    </li>
                </ul>
            </article>
            <a href="#"
               class="btn btn--xl btn--rounded btn--purpleOrange noto-bold text-white tt-up mt-5 scrollme animateme max-w-100"
               data-from="1"
               data-to="0"
               data-opacity="0" data-translatey="150">purchase now</a>
        </div>
    </div>
</section>
