<nav class="navbar navbar-expand-md fixed-top bg-lightOrange main-navbar w-100" id="navWrapper">
        <div class="nav-logo-icon d-flex ju align-items-center" id="navbarBrand">
            <a class="navbar-brand d-block" href="index.html">
                <!--future logo-->
                <!--<img src="" class="w-100" alt="Logo">-->
                <span class="text-white noto-bold fz-18">Logo</span>
            </a>
            <button class="navbar-toggler border-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <svg viewBox="0 0 100 100" width="50" class="hamburger">
                    <path class="line top" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                    <path class="line middle" d="m 70,50 h -40" />
                    <path class="line bottom" d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
                </svg>
            </span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-md-end" id="navScrollSpy">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link pd-0 tt-up noto-bold fz-20" href="#introWork" data-href="introWork">work</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link pd-0 tt-up noto-bold fz-20" href="#introStuff" data-href="introStuff">stuff</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link pd-0 tt-up noto-bold fz-20" href="#features" data-href="features">features</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link pd-0 tt-up noto-bold fz-20" href="#tryUs" data-href="tryUs">try us</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link pd-0 tt-up noto-bold fz-20" href="#history" data-href="history">history</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link pd-0 tt-up noto-bold fz-20" href="#contact" data-href="contact">contact</a>
                </li>
            </ul>
        </div>
</nav>