<section class="stuff relative" id="history">
    <div class="stuff__row d-flex align-items-start flex-wrap main-wrapper">
        <div class="stuff__img relative">
            <div class="stuff__img__layer stuff__img__layer--lightCyan absolute scrollme animateme"
                 data-when="enter" data-from="1" data-to="0" data-crop="false" data-opacity="0" data-translatex="-250"
                 data-translatey="-200"></div>
            <div class="stuff__img__layer stuff__img__layer--purpleOrange absolute scrollme animateme"
                 data-when="enter" data-from="1" data-to="0" data-crop="false" data-opacity="0" data-translatex="200"
                 data-translatey="200"></div>
            <img src="../img/stuff-img.png" alt="" class="relative z-1 w-100">
        </div>
        <div class="stuff__content stuff-content d-flex flex-column">
            <h4 class="stuff__content__title fz-24 tt-up text-black">Our History</h4>
            <article class="stuff__content stuff__content--desc">
                <p class="stuff--desc__item text-black fz-18">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <p class="stuff--desc__item text-black fz-18">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <p class="stuff--desc__item text-black fz-18">
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <p class="stuff--desc__item text-black fz-18">
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.
                </p>
            </article>
            <a href="#" class="btn btn--xl btn--rounded btn--purpleOrange noto-bold text-white tt-up mt-5
                scrollme animateme align-self-center align-self-md-start max-w-100" data-when="enter" data-from="1"
                data-to="0" data-crop="false" data-opacity="0" data-translatex="80" data-translatey="80">
                read more
            </a>
        </div>
    </div>
</section>