<section class="subscribe bg-darkBlue" id="tryUs">
    <div class="main-wrapper">
        <h2 class="subscribe__title fz-36 text-center noto-bold text-black text-white tt-up">try us now</h2>
        <form action="#" class="subscribe__form d-flex flex-wrap align-items-center justify-content-center">
            <input type="email" class="custom-input bg-alphaDarkBlue scrollme animateme flex-grow-1 fz-18"
                   data-from="1" data-to="0" data-opacity="0" data-translatey="-50" data-translatex="-100"
                   placeholder="Enter Your e-mail Address">
            <input type="button" href="#" class="btn btn--xs btn--rounded btn--orange noto-bold text-white tt-up scrollme animateme"
                   data-from="1" data-to="0" data-opacity="0" data-translatex="150" value="subscribe">
        </form>
    </div>
</section>