<%- include('partials/block-top.ejs', {title: "Home"}); -%>
<% include partials/navbar.ejs %>
<main>
    <% include partials/banner.ejs %>
    <% include partials/intro.ejs %>
    <% include partials/features.ejs %>
    <% include partials/subscribe.ejs %>
    <% include partials/stuff.ejs %>
    <% include partials/contact.ejs %>
    <% include partials/footer.ejs %>
</main>

<% include partials/block-bottom.ejs %>
